@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}


/* header section*/
.header{
    height: 50vh;
    width: 100%;
    background-image: url('../img/petban.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    }

    nav img{
        width: 100px;
    }

    .nav-links{
        flex: 1;
        text-align: right;
        color:rgb(8, 8, 8);
    }

    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
        color:rgb(12, 11, 10);
        

    }
    .nav-links ul li a{
     font-size: 20px;
     text-decoration: none;
     color:rgb(17, 17, 17);
     font-family: 'Quintessential', cursive;
    }

    .nav-links ul li::after{
     content: '';
     width: 0%;
     height: 2px;
     background: rgb(15, 138, 199) ;
     display: block;
     margin: auto;
     transition: 0.5s;
    }

    .nav-links ul li:hover::after{
        width: 100%;
    }

    .text-box{
        width: 90%;
        color: rgb(117, 14, 252);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align:center;
        
    }

    .text-box h1{
        font-size: 62px;
        color:rgb(15, 138, 199);
        font-style: italic;
        padding-top: 10rem;
        font-family: 'Quintessential', cursive;
    }

    .text-box{
        padding-top: 1rem;
    }
    .text-box p{
        margin: 10px 0 40px;
        padding-top: 1rem;
        font-size: 18px;
        color:rgb(3, 37, 53);
        font-family: 'Quintessential', cursive;
    }

    .hero-btn{
        display:  inline-block;
        text-decoration: none;
        color: rgb(19, 19, 14);
        border: 1px solid rgb(42, 129, 243);
        border-radius: 20% ;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        font-family: 'Quintessential', cursive;
    }

    .hero-btn:hover{
        border: 1px solid #8fd8ee;
        background: #46c1fa;
        transition: 1s;
    }
    nav .fa{
        display: none;
    }

    
    @media(max-width: 700px){
        .text-box h1{
            font-size: 20px;
        }

        .nav-links ul li{
            display:block;
        }
        .nav-links{
            position: fixed;
            background-color: rgb(8, 8, 8);
            height: 100vh;
            width: 200px;
            top: 0;
            right:-200px;
            text-align: left;
            z-index: 2;
            color:rgb(47, 131, 226);
            transition: 1s;
            

        }
        nav .fa{
            display: block;
            color:rgb(83, 158, 243);
            margin: 10px;
            font-size: 22px;
            cursor: pointer;

        }
        .nav-links ul{
           padding: 30px; 
        }

    }

    .main-photo{
        max-width: 100%;
        height: 250px;
        margin: 10px auto;
        display: block;
        border-radius: 50%;
        border-color: 8px solid rgb(248, 247, 246);
        padding: 3px;  
    }

    .main-photo:hover{
        transform: scale(1.1);
    }

    .contact{
        width:80%;
        margin: auto;
        text-align: center;
        padding-top: 400px;
    }
    /*---------About--------*/

    .About{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top:300px;
        font-family: 'Quintessential', cursive;
    }

    .about h2{
        padding-top: 2rem;
        font-family: 'Quintessential', cursive;
    }

    .about p{
        padding-top: rem;
        font-family: 'Quintessential', cursive;
    }

    .us{
        font-family: 'Quintessential', cursive;
    }

    .container{
        display: flex;
        justify-content: center;
        
    }

    .container img{
        width: 250px;
        height: auto;
    }

    .images{
        padding-top: 2rem;
        padding-right: 2rem;
        border-radius: 40%;
    }


    /*Register section*/
    .form-control{
        padding-left: 3rem;
        background-color: #46c1fa;
        color: azure;
        text-align: left;
        font-weight: bold;
        padding-top: 8px;
    }

    button{
        color:#46c1fa;
        background-color: bisque;
        border: 2px solid;
        border-radius: 50px 50px;
        margin-left: 10rem;
        margin-top: 10px;
        font-size: 20px;
        cursor:pointer;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .input-container h2{
        display: flex;
        height: 2em;
        margin-bottom: 0rem;
        padding-left: 15rem;
        padding-bottom: 0rem;
        position: relative;
        
        
    }
    
    .content-table {
        border-collapse:collapse;
        margin: 25px 20rem;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden ;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        
    }

    .content-table thead tr{
        background-color: #46c1fa;
        color: azure;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td{
        padding: 20px 4rem;
        font-family: 'Quintessential', cursive;
        
    }

    .content-table tbody tr{
        border-bottom: 1px solid rgb(221, 220, 220);
    }

    .content-table tbody tr:nth-of-type(even){
        background-color: rgb(221, 220, 220);
    }

    .content-table tbody tr:last-of-type{
        border-bottom: 2px solid #46c1fa;
    }

    input{
        border-radius: 5px;
        border-color: black;
        background-color: #c2f5f2;
        padding-top: 5px;
        font-family: 'Quintessential', cursive;

    }

    .input-container h2{
        justify-content: center;
        padding-left: 0;
        font-family: 'Quintessential', cursive;
    }

    #selService{
        border-radius: 5px;
        border-color: black;
        background-color: #c2f5f2;
        font-weight: bold;
        font-family: 'Quintessential', cursive;
        cursor:pointer;
    }